.chat-bar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
}


.chat-bar:hover {
    background-color: rgb(211 241 223);
}
.chat-bar:focus{
     background-color: rgb(200, 243, 217);
}
.chat-bar-avatar {
  flex-shrink: 0;
}

.chat-bar-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.info-top {
    font-weight: 500;
}
.info-bottom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}

.info-bottom p {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.663);
    margin: 0;
    white-space: nowrap; /* Force single line */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add "..." at the end */
    flex: 1;
    min-width: 0; /* Ensure it shrinks properly */
}
.unread-badge {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(7, 144, 7);
    color: white;
}
